.container {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    background-color: white;
}

.forumContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
    min-height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
}

.forumScroller {
    overflow-y: auto;
    height: 100%;
    align-items: center;
    background-color: lightgray;
    max-width: 55%;
    width: 55%;
    padding: 5px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-top: 20%;
}

.errorMessage {
    font-size: 2rem;
    color: red;
    text-align: center;
    margin-top: 10%;
}

.emptyMessage {
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-top: 10%;
}

.link:hover {
    cursor: pointer;
}
