.listContainer {
    background-color: #cdd1cf;
    overflow-y: auto;
    height: 60vh;
    min-height: 60vh;
    max-height: 60vh;
    width: 100%;
    justify-content: center;
}

.mainListContainer {
    background-color: #cdd1cf;
    justify-content: center;
    overflow-y: auto;
    height: 60vh;
    min-height: 60vh;
    max-height: 60vh;
    width: 90%;
}

.listHeader {
    color: #0b437a;
    text-align: center;
    font-size: xx-large;
}

.levelLists {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
