.container {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    background-color: white;
}

.content {
    padding: 30px;
}

.heading {
    font-size: 4rem;
    color: black;
    text-align: left;
}

.description {
    font-size: 1rem;
    color: black;
    text-align: left;
}

.levels {
    display: flex;
    justify-content: center;
    align-items: center;
}
