.container {
    height: 100vh;
    max-height: 100vh !important;
    min-height: 100vh;
    background-color: white;
}

.gridContainer {
    max-height: 100%;
    max-width: 100vw;
    min-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.descriptionGrid {
    border-right: 1px solid black;
    height: calc((100vh - 64px) / 2);
    max-height: calc((100vh - 64px) / 2);;
    padding: 10px;
    overflow-y: auto;
}

.objectivesGrid {
    border-right: 1px solid black;
    border-top: 1px solid black;
    height: calc((100vh - 64px) / 2);
    max-height: calc((100vh - 64px) / 2);
    padding: 10px;
    overflow-y: auto;
}

.codeEditorGrid {
    width: 100%;
    height: calc((100vh - 64px) * 7/10);
    overflow: hidden;
    border-right: 1px solid black;
    border-radius: 8px;
}

.codeEditor {
    height: 100%;
    min-height: 30vh;
    max-height: calc((100vh - 64px) * 7/10);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.codeEditor .cm-editor {
    height: 100% !important;
    overflow: auto !important;
}

.testGrid {
    border-right: 1px solid black;
    border-top: 1px solid black;
    height: calc((100vh - 64px) * 3/10);
    width: 100%;
}

.testConsole {
    border-right: 1px solid black;
    width: 100%;
    height: 100%;
}

.actionButtons {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewGrid {
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px) !important;
    overflow-y: hidden;
    overflow-x: auto;
}

.previewContainer {
    min-height: calc((100vh - 64px) * 8/10);
    max-height: calc((100vh - 64px) * 8/10);
    height: calc((100vh - 64px) * 8/10);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.preview {
    min-height: 100% !important;
}

.previewConsole {
    border-top: 1px solid black;
    min-height: calc((100vh - 64px) * 2/10);
    max-height: calc((100vh - 64px) * 2/10);
}

.leftTitle {
    text-align: left;
    color: black;
    font-size: 1.5em;
}

.leftText {
    text-align: left;
    color: black;
    font-size: 1em;
}

.testTitle {
    text-align: left;
    color: black;
    font-size: 1.5em;
    padding: 5px;
}

.testingDisplay {
    border-top: 1px solid black;
    overflow-y: auto;
}

.provider {
    width: 100% !important;
    height: 93% !important;
}
