--
-- PostgreSQL database dump
-- Database backup with all the level data, hints etc in it so that you can deploy this application if you want
-- This is an autogenerated file
-- Follow instructions in readme.md for deployment instructions
--

-- Dumped from database version 15.12
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: comments; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.comments (
    id integer NOT NULL,
    postid integer NOT NULL,
    userid integer NOT NULL,
    datetime timestamp without time zone NOT NULL,
    message text NOT NULL
);


ALTER TABLE public.comments OWNER TO neondb_owner;

--
-- Name: comments_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.comments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.comments_id_seq OWNER TO neondb_owner;

--
-- Name: comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.comments_id_seq OWNED BY public.comments.id;


--
-- Name: level_files; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.level_files (
    id integer NOT NULL,
    levelid integer NOT NULL,
    name character varying(50) NOT NULL,
    filetype text NOT NULL,
    content text NOT NULL,
    readonly boolean DEFAULT false NOT NULL,
    CONSTRAINT level_files_filetype_check CHECK ((filetype = ANY (ARRAY['js'::text, 'css'::text])))
);


ALTER TABLE public.level_files OWNER TO neondb_owner;

--
-- Name: level_files_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.level_files_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.level_files_id_seq OWNER TO neondb_owner;

--
-- Name: level_files_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.level_files_id_seq OWNED BY public.level_files.id;


--
-- Name: level_hints; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.level_hints (
    id integer NOT NULL,
    levelid integer NOT NULL,
    name character varying(255) NOT NULL,
    content text NOT NULL
);


ALTER TABLE public.level_hints OWNER TO neondb_owner;

--
-- Name: level_hints_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.level_hints_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.level_hints_id_seq OWNER TO neondb_owner;

--
-- Name: level_hints_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.level_hints_id_seq OWNED BY public.level_hints.id;


--
-- Name: level_tests; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.level_tests (
    id integer NOT NULL,
    levelid integer NOT NULL,
    name character varying(255) NOT NULL,
    type text NOT NULL,
    code text NOT NULL
);


ALTER TABLE public.level_tests OWNER TO neondb_owner;

--
-- Name: level_tests_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.level_tests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.level_tests_id_seq OWNER TO neondb_owner;

--
-- Name: level_tests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.level_tests_id_seq OWNED BY public.level_tests.id;


--
-- Name: levels; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.levels (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    objectives text NOT NULL,
    expiration timestamp without time zone,
    previouslevelid integer,
    enhanceddescription text DEFAULT 'This is an enhaced description about this level, involving multiple aspects of the WCAG guidelines and Web Development. \n\n The first lesson is on the basics of WCAG such as aria lables and screen readers'::text NOT NULL
);


ALTER TABLE public.levels OWNER TO neondb_owner;

--
-- Name: levels_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.levels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.levels_id_seq OWNER TO neondb_owner;

--
-- Name: levels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.levels_id_seq OWNED BY public.levels.id;


--
-- Name: likes; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.likes (
    id integer NOT NULL,
    userid integer NOT NULL,
    postid integer,
    commentid integer,
    datetime timestamp without time zone NOT NULL
);


ALTER TABLE public.likes OWNER TO neondb_owner;

--
-- Name: likes_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.likes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.likes_id_seq OWNER TO neondb_owner;

--
-- Name: likes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.likes_id_seq OWNED BY public.likes.id;


--
-- Name: post_files; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.post_files (
    id integer NOT NULL,
    postid integer NOT NULL,
    name character varying(50) NOT NULL,
    filetype text NOT NULL,
    content text NOT NULL,
    CONSTRAINT post_files_filetype_check CHECK ((filetype = ANY (ARRAY['js'::text, 'css'::text])))
);


ALTER TABLE public.post_files OWNER TO neondb_owner;

--
-- Name: post_files_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.post_files_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.post_files_id_seq OWNER TO neondb_owner;

--
-- Name: post_files_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.post_files_id_seq OWNED BY public.post_files.id;


--
-- Name: posts; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.posts (
    id integer NOT NULL,
    userid integer NOT NULL,
    levelid integer NOT NULL,
    datetime timestamp without time zone NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL
);


ALTER TABLE public.posts OWNER TO neondb_owner;

--
-- Name: posts_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.posts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.posts_id_seq OWNER TO neondb_owner;

--
-- Name: posts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.posts_id_seq OWNED BY public.posts.id;


--
-- Name: saved_files; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.saved_files (
    id integer NOT NULL,
    userid integer NOT NULL,
    levelid integer,
    name character varying(50) NOT NULL,
    filetype text NOT NULL,
    content text NOT NULL,
    datetime timestamp without time zone NOT NULL,
    CONSTRAINT saved_files_filetype_check CHECK ((filetype = ANY (ARRAY['js'::text, 'css'::text])))
);


ALTER TABLE public.saved_files OWNER TO neondb_owner;

--
-- Name: saved_files_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.saved_files_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.saved_files_id_seq OWNER TO neondb_owner;

--
-- Name: saved_files_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.saved_files_id_seq OWNED BY public.saved_files.id;


--
-- Name: user_levels; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.user_levels (
    id integer NOT NULL,
    userid integer NOT NULL,
    levelid integer NOT NULL,
    datetime timestamp without time zone NOT NULL
);


ALTER TABLE public.user_levels OWNER TO neondb_owner;

--
-- Name: user_levels_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.user_levels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_levels_id_seq OWNER TO neondb_owner;

--
-- Name: user_levels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.user_levels_id_seq OWNED BY public.user_levels.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(255) NOT NULL,
    password text NOT NULL
);


ALTER TABLE public.users OWNER TO neondb_owner;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO neondb_owner;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: comments id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.comments ALTER COLUMN id SET DEFAULT nextval('public.comments_id_seq'::regclass);


--
-- Name: level_files id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.level_files ALTER COLUMN id SET DEFAULT nextval('public.level_files_id_seq'::regclass);


--
-- Name: level_hints id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.level_hints ALTER COLUMN id SET DEFAULT nextval('public.level_hints_id_seq'::regclass);


--
-- Name: level_tests id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.level_tests ALTER COLUMN id SET DEFAULT nextval('public.level_tests_id_seq'::regclass);


--
-- Name: levels id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.levels ALTER COLUMN id SET DEFAULT nextval('public.levels_id_seq'::regclass);


--
-- Name: likes id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.likes ALTER COLUMN id SET DEFAULT nextval('public.likes_id_seq'::regclass);


--
-- Name: post_files id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.post_files ALTER COLUMN id SET DEFAULT nextval('public.post_files_id_seq'::regclass);


--
-- Name: posts id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.posts ALTER COLUMN id SET DEFAULT nextval('public.posts_id_seq'::regclass);


--
-- Name: saved_files id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.saved_files ALTER COLUMN id SET DEFAULT nextval('public.saved_files_id_seq'::regclass);


--
-- Name: user_levels id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_levels ALTER COLUMN id SET DEFAULT nextval('public.user_levels_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: level_files; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: level_hints; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: level_tests; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: levels; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: likes; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.likes (id, userid, postid, commentid, datetime) FROM stdin;
8	29	\N	4	2025-02-26 00:25:49.748893
10	29	\N	3	2025-02-26 13:57:06.668298
11	29	\N	6	2025-02-26 14:04:48.97852
12	29	\N	7	2025-02-26 14:05:03.754484
13	29	\N	8	2025-02-26 14:43:59.124143
20	31	11	\N	2025-03-15 14:49:06.01664
21	32	12	\N	2025-03-17 19:15:38.907347
22	29	\N	12	2025-03-17 19:28:28.271574
23	29	6	\N	2025-03-17 19:28:28.926928
24	36	16	\N	2025-04-02 14:20:27.06896
25	29	1	\N	2025-04-06 23:07:46.586605
\.


--
-- Data for Name: post_files; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: posts; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: saved_files; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: user_levels; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Name: comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.comments_id_seq', 14, true);


--
-- Name: level_files_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.level_files_id_seq', 37, true);


--
-- Name: level_hints_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.level_hints_id_seq', 27, true);


--
-- Name: level_tests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.level_tests_id_seq', 27, true);


--
-- Name: levels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.levels_id_seq', 17, true);


--
-- Name: likes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.likes_id_seq', 25, true);


--
-- Name: post_files_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.post_files_id_seq', 38, true);


--
-- Name: posts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.posts_id_seq', 19, true);


--
-- Name: saved_files_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.saved_files_id_seq', 126, true);


--
-- Name: user_levels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.user_levels_id_seq', 48, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.users_id_seq', 38, true);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: level_files level_files_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.level_files
    ADD CONSTRAINT level_files_pkey PRIMARY KEY (id);


--
-- Name: level_hints level_hints_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.level_hints
    ADD CONSTRAINT level_hints_pkey PRIMARY KEY (id);


--
-- Name: level_tests level_tests_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.level_tests
    ADD CONSTRAINT level_tests_pkey PRIMARY KEY (id);


--
-- Name: levels levels_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.levels
    ADD CONSTRAINT levels_pkey PRIMARY KEY (id);


--
-- Name: likes likes_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.likes
    ADD CONSTRAINT likes_pkey PRIMARY KEY (id);


--
-- Name: post_files post_files_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.post_files
    ADD CONSTRAINT post_files_pkey PRIMARY KEY (id);


--
-- Name: posts posts_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_pkey PRIMARY KEY (id);


--
-- Name: saved_files saved_files_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.saved_files
    ADD CONSTRAINT saved_files_pkey PRIMARY KEY (id);


--
-- Name: saved_files unique_user_level_name; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.saved_files
    ADD CONSTRAINT unique_user_level_name UNIQUE (userid, levelid, name);


--
-- Name: user_levels user_levels_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_levels
    ADD CONSTRAINT user_levels_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: comments comments_postid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_postid_fkey FOREIGN KEY (postid) REFERENCES public.posts(id) ON DELETE CASCADE;


--
-- Name: comments comments_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_userid_fkey FOREIGN KEY (userid) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: level_files level_files_levelid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.level_files
    ADD CONSTRAINT level_files_levelid_fkey FOREIGN KEY (levelid) REFERENCES public.levels(id) ON DELETE CASCADE;


--
-- Name: level_hints level_hints_levelid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.level_hints
    ADD CONSTRAINT level_hints_levelid_fkey FOREIGN KEY (levelid) REFERENCES public.levels(id) ON DELETE CASCADE;


--
-- Name: level_tests level_tests_levelid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.level_tests
    ADD CONSTRAINT level_tests_levelid_fkey FOREIGN KEY (levelid) REFERENCES public.levels(id) ON DELETE CASCADE;


--
-- Name: likes likes_commentid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.likes
    ADD CONSTRAINT likes_commentid_fkey FOREIGN KEY (commentid) REFERENCES public.comments(id) ON DELETE CASCADE;


--
-- Name: likes likes_postid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.likes
    ADD CONSTRAINT likes_postid_fkey FOREIGN KEY (postid) REFERENCES public.posts(id) ON DELETE CASCADE;


--
-- Name: likes likes_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.likes
    ADD CONSTRAINT likes_userid_fkey FOREIGN KEY (userid) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: post_files post_files_postid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.post_files
    ADD CONSTRAINT post_files_postid_fkey FOREIGN KEY (postid) REFERENCES public.posts(id) ON DELETE CASCADE;


--
-- Name: posts posts_levelid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_levelid_fkey FOREIGN KEY (levelid) REFERENCES public.levels(id) ON DELETE CASCADE;


--
-- Name: posts posts_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_userid_fkey FOREIGN KEY (userid) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: saved_files saved_files_levelid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.saved_files
    ADD CONSTRAINT saved_files_levelid_fkey FOREIGN KEY (levelid) REFERENCES public.levels(id) ON DELETE CASCADE;


--
-- Name: saved_files saved_files_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.saved_files
    ADD CONSTRAINT saved_files_userid_fkey FOREIGN KEY (userid) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_levels user_levels_levelid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_levels
    ADD CONSTRAINT user_levels_levelid_fkey FOREIGN KEY (levelid) REFERENCES public.levels(id) ON DELETE CASCADE;


--
-- Name: user_levels user_levels_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_levels
    ADD CONSTRAINT user_levels_userid_fkey FOREIGN KEY (userid) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

